@page
@model cdv_razor.Pages._2020._06._28.consider_vueModel
@{
  ViewData["Title"] = "Consider Vue - Catalyst Digital Ventures";
  ViewBag.Title = "Why you should learn Vue";
  ViewBag.Description = "Picking a frontend framework can be difficult but it doesn't have to be.";
}

<div class="container text-justify">
  <h1 class="text-center">Consider Vue.js</h1>
  <h4 class="text-center">
    By Keenan Irvin-Benning | June 28 2020 | Reading Time: 2 min
  </h4>
  <div class="row mt-4">
    One the most helpful tech tips I've received over the years was be willing to bring your work home. I think the importance of passion is mostly exaggerated but
    in certain fields like tech it has a place.
  </div>
  <div class="row mt-4">
    We don't have the luxuries that comes with a stable rarely changing industry like medicine or law. If you
    aren't naturally curious you may struggle staying relevant in a field that changes so quickly.
  </div>
  <div class="row mt-4">
    So as a challenge to fully understand <a style="display:contents" href="https://vuejs.org/" target="_blank" rel="noopener noreferrer">Vue.js</a>
    I'm going through this
    <a style="display:contents" href="https://strapi.io/" target="_blank" rel="noopener noreferrer">Strapi.js</a>
    /
    <a style="display:contents" href="https://reactjs.org/" target="_blank" rel="noopener noreferrer">React.js</a>
    course but instead I'm implementing everything on the frontend in Vue.
  </div>
  <div class="row mt-4">
    And so far it has made me more bullish on Vue. It can do everything React can but without the added "made this extra hard for job security" complexity.
  </div>
  <div class="row mt-4">
    I definitely recommend building a side project with it. I've
    <a style="display:contents" href="https://www.michiganwaterpolo.com/" target="_blank" rel="noopener noreferrer">
      built a complete site for a client using it
    </a>
    and it will continue to be my first choice. And fortunately it's simple enough to be added to any exisiting web project without much headache.
  </div>
  <div class="row mt-4">
    <a style="display:contents" href="    https://vuejs.org/v2/guide/#Getting-Started" target="_blank" rel="noopener noreferrer">
      Drop a script tag in and start building.
    </a>
    And for you senior engineers that need adoption metrics before considering
    new technolgy, take a look at their
    <a style="display:contents" href="https://github.com/vuejs/vue/" target="_blank" rel="noopener noreferrer">github stars.</a>
  </div>
  <div class="row mt-4">
    While not a perfect metric, being higher than both
    <a style="display:contents" href="https://github.com/facebook/react/" target="_blank" rel="noopener noreferrer">React</a>
    and
    <a style="display:contents" href="https://github.com/angular/angular/" target="_blank" rel="noopener noreferrer">Angular</a>
    shows that the industry is watching. Increased enterprise support is sure to follow.
  </div>
  <div id="hyvor-talk-view"></div>
</div>


@section Scripts{
  <script type="text/javascript">
    var HYVOR_TALK_WEBSITE = 662; // DO NOT CHANGE THIS
    var HYVOR_TALK_CONFIG = {
      url: false,
      id: false
    };
  </script>
  <script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
}


