@page
@model cdv_razor.Pages.too_late_bitcoin_Model

@{
  ViewData["Title"] = "Is it too late to get into bitcoin? - Catalyst Digital Ventures";
}

@section metatags{
  <meta name="description" property="og:description" content="The future of finance is here. The digital asset industy is enabling a modern way to earn interest." />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Is it too late to get into bitcoin?" />
  <meta property="og:url" content="https://www.catalystdigitalventures.com/2021/02/03/too-late-bitcoin" />
  <meta property="og:site_name" content="Catalyst Digital Ventures" />
  <meta property="article:publisher" content="https://www.catalystdigitalventures.com/" />
  <meta property="article:published_time" content="2021-02-10T14:00:30+00:00" />
  <meta property="article:modified_time" content="2021-02-10T12:44:29+00:00" />
  <meta property="og:image" content="https://www.catalystdigitalventures.com/img/interest.jpg" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="627" />
  <meta name="author" content="Keenan Irvin-Benning">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@@Cataly4tDigital" />
  <meta name="twitter:site" content="@@iCianan" />
}


<div class="container text-justify">
  <h1 class="text-center">Is it too late to get into Bitcoin?</h1>
  <h4 class="text-center">
    By Keenan Irvin-Benning | February 10 2021 | Reading Time: 5 min
  </h4>
  <div class="row mt-4">
    “The best time to invest was yesterday. The second-best time is right now.”
  </div>
  
  <div class="row mt-4 blogPost">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/DzJasz19EnA?start=414" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    In case you missed it, <a style="display:contents" href="https://finance.yahoo.com/news/elon-musk-is-serious-about-crypto-as-tesla-puts-15-billion-in-bitcoin-163633283.html" target="_blank" rel="noopener noreferrer">Tesla just announced they have purchased $1.5 Billion worth of Bitcoin to hold as a reserve asset and will accept Bitcoin as payment.</a>
     With this, I think it is safe to say Bitcoin has gone mainstream. With such excitement, many people are wisely asking me “Is it too late to invest in Bitcoin?”
  </div>
  <div class="row mt-4">
    Considering the amount of times “experts” have called for Bitcoin’s death only for it to repeatedly rise from the ashes to a new all-time high, I completely understand the worry. No one wants to buy at the top. However, I believe once you fully understand what Bitcoin represents
    you realize that rising from less than a penny to its current market price of $46,000 is only a drop in the bucket.
  </div>
  <div class="row mt-4">
    Bitcoin is a complete paradigm shift in the way we think about money. Our economy is currently dependent on a worthless currency that can and will continue to be printed until its not worth the paper it is printed on. And there’s nothing we can do about it, because as horrible as
    this trend is, stopping it would completely crash the stock market and no politician wants that to happen on their watch.
  </div>
  <div class="row mt-4">
    But first things first, Bitcoin’s price movement of the past doesn’t matter. All that matters is if you are open minded enough to change your entire mindset on the concept of investing and money itself. There’s a saying “closed mouths don’t get fed” well I believe the same is
    true for closed minds.
  </div>
  <div class="row mt-4">
    When I first heard about Bitcoin in 2014, all I knew was that some magic internet scam is making PC graphics cards super expensive and I didn’t like it. If only I was more curious.
  </div>
  <div class="row mt-4 blogPost">
    <blockquote class="twitter-tweet" data-theme="dark"><p lang="en" dir="ltr">death to bitcoin and litecoin miners</p>&mdash; Jimmy from LinkedIn (@@iCianan) <a href="https://twitter.com/iCianan/status/440504950125129728?ref_src=twsrc%5Etfw">March 3, 2014</a></blockquote>
  </div>
  <div class="row mt-4">
    <h2>What is Money?</h2>
    I’ve since learned that calling something you don’t understand a scam is just a human coping mechanism to not feel stupid. But no one, especially US citizens, should feel bad about not initially understanding Bitcoin. The concept of money isn’t something our education system
    prioritizes. I’ll let you speculate too why that is.
  </div>
  <div class="row mt-4">

    As I understand it, <a style="display:contents" href="https://amzn.to/3aU983C" target="_blank" rel="noopener noreferrer">thanks to the Bitcoin Standard (must read seriously)</a>, money is something that is finite, divisible, fungible, portable and durable. For most of human history gold has served that purpose better than anything before it. It was choosen because if you own a bar of gold, you don’t have to worry about your government creating brand new
    gold out of thin air further decreasing the value the gold you already own. But, wrong or right, fiat (US dollars, Euro, Yen) has replaced gold during the 20th century as the dominate form of money in most people’s eyes. However, we now know the risks to giving the power of money creation to politicians and global elites. <a style="display:contents" href="https://brrr.money/" target="_blank" rel="noopener noreferrer">Money printer go brr.</a>
  </div>
  <div class="row mt-4">
    <h2>What is Bitcoin?</h2>
    <a style="display:contents" asp-page="/2021/02/03/crypto-interest"> As I said in my previous article,</a> Bitcoin is the hardest money ever evented. The supply is fixed at 21 million meaning no more can ever be created. The coins are digital and thus are indestructible and can be transferred across the globe in
    less than an hour, any day of the week including weekends and holidays. It can also be divided into 100 million smaller pieces called a Satoshi. Your Bitcoin wallet comes with something called a private key and if you lose it or if anyone gains access to it you can lose your funds forever. It is also a store of
    value, meaning you can put $10 in today and expect to retain that $10 in purchasing power anytime in the future. This makes it the complete opposite of fiat something that does nothing but lose purchasing power overtime.
  </div>
  <div class="row mt-4">
    To create or "mine" new Bitcoin, the Bitcoin network asks a math problem every 10 minutes that only computers can answer. Anyone can join the Bitcoin network and use their computer to attempt to answer the question before someone else and if you are successful, you are rewarded with brand new Bitcoin. If you aren't you wait for the
    next question and try again further running up your electricity bill. In the beginning of Bitcoin's life, answering correctly earned you 50 BTC, but it has since been cut to 6.25 BTC and will continute to be cut in half every 4 years or so. Bitcoin wasn't worth much at the start so giving out so many while the network was young makes sense.
  </div>
  <div class="row mt-4">
    But the real brillance of Bitcoin's design becomes apparent when you realize the network is designed in such a way that no matter how many people are trying to mine Bitcoin, it always takes on average 10 minutes. This is due to the difficulty adjustment. It looks at how many are currently mining Bitcoin and will increase or decrease
    the difficulty of the math problem accordingly to ensure Bitcoin is mined every 10 minutes on average. This means that unlike any asset before it, no matter how high the demand is, the incoming supply will always be limited to whatever miners can earn every 10 minutes.
  </div>
  <div class="row mt-4">
    All this said, Bitcoin is weird. It’s has confused computer scientists, economists, bankers, governments, pretty much everyone and that’s exactly the point.
  </div>
  <div class="row mt-4">
    <h2>Where do we go from here?</h2>
    At the time of this writing, Bitcoin’s circulating supply is worth about $870 billion. For comparison, the total supply of gold is worth about $11 trillion, stocks are worth about $95 trillion, real estate is worth about $280 trillion, and the granddaddy of them all, derivatives,
    is worth about $640 trillion. These are insanely huge numbers almost impossible for our human brains to comprehend. But imagine what it would do the Bitcoin’s price if even a small percentage of these assets shifted to Bitcoin.
  </div>
  <div class="row mt-4">
    But let’s forget the price for a moment and ask ourselves what problem is Bitcoin solving? MicroStrategy, Square, Tesla, and countless investment firms aren’t buying Bitcoin willingly, they have no choice.
  </div>
  <div class="row mt-4">
    In a land of 0% interest rates, Bitcoin is one of the few places you can put your money and get a positive return. But more importantly it’s the only asset in the world that is impossible to debase and outside of government control. The Federal Reserve can print more money, gold miners can mine more gold,
    Apple can issue more shares, and home builders can build more homes. Every asset has a way to dilute the value of what you already own except Bitcoin. 
    </div>
  <div class="row mt-4">
    It is also my belief that as Bitcoin matures it will be viewed as a safe haven asset too. Something you can rely on during a crisis. 
  </div>
  <div class="row mt-4">
    As long as Bitcoin continues to solve this problem the price is irrelevant to me. And long term, I know it’s likely I’ll continue to be financially rewarded for thinking this way.
  </div>
  <div class="row mt-4">
    So no you are never late to Bitcoin, you are always right on time.
  </div>
  <div class="row mt-4">
    And if you are ready to take back your power over your money feel free to use my referral links listed here (note I use all 4 platforms):
    <a style="display:contents" href="https://blockfi.com/?ref=5b808fc4/" target="_blank" rel="noopener noreferrer">BlockFi (Interest Account)</a>,
    <a style="display:contents" href="https://celsiusnetwork.app.link/11105363b3/" target="_blank" rel="noopener noreferrer">Celsius Network (Favorite Interest Account)</a>,
    <a style="display:contents" href="https://voyager.onelink.me/WNly/referral?af_sub5=KEE756/" target="_blank" rel="noopener noreferrer">Voyager (Exchange)</a>, and
    <a style="display:contents" href="https://gemini.com/share/jpEU7O" target="_blank" rel="noopener noreferrer">Gemini (Favorite Exchange)</a>
  </div>
  <div id="hyvor-talk-view"></div>
</div>


@section Scripts{
  <script type="text/javascript">
        var HYVOR_TALK_WEBSITE = 662; // DO NOT CHANGE THIS
        var HYVOR_TALK_CONFIG = {
            url: false,
            id: false
        };
  </script>
  <script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
}
