@page
@model cdv_razor.Pages._2020._05._13.hello_internetModel
@{
    ViewData["Title"] = "hello_internet";
}
<div class="container">
    <h1>Hello Internet</h1>
    <p>
        If you ask me, it's hard to believe its only halfway through 2020. Swear we've lived at least 3 lifetimes the past 3 months as the modern world has been turned upside down but, while it's easy to focus 
        on the negative there's always a opportunity if you look. I plan on using this time to grow and I feel like building something exciting and talking about it. So enough Anime, Twitter and Youtube and time to
        focus my energy towards sharing my passion with the world.
        <br />
        <br />
        This blog will be about building cool things. Primarily leveraging cloud and web application technologies. I'll do my best to keep on a schedule as I've tried this before and failed miserably. Its interesting
        how when you actually want to get things done you never have any time. Considering how large the internet is, one could say starting a blog isn't the best use of your time however I truly believe organzing what's
        in your head is just as beneficial for you as it is for your potential audicence. I hope that I can contribute something worthwhile to the incredibly crowded space of this big old internet.
    </p>
</div>