@page
@model cdv_razor.Pages._2020._05._13.hello_internetModel
@{
    ViewData["Title"] = "Hello Internet";
}
<div class="container text-justify">
    <h1 class="text-center">Hello Internet</h1>
    <h4 class="text-center">Keenan Irvin-Benning | May 13 2020 | Reading Time: 3 min</h4>
    <div class="row mt-4">
        If you ask me, it's hard to believe it's only halfway through 2020. All things considered it feels like we've lived at least 3 lifetimes the past 3 months.
    </div>
    <div class="row mt-4">
        The modern world has been turned upside down, but while it's easy to focus on the negative there's always a opportunity if you look.
    </div>
    <div class="row mt-4">
        I plan on using this time to grow and I feel like building something exciting and talking about it. So enough Anime, Twitter and Youtube and time to
        focus my energy towards sharing some of my passion with the world.
    </div>
    <div class="row mt-4">
        This blog will be about building cool things. I'll be primarily talking about devops and web technologies but I may drift into blockchain, fitness, PC hardware and anything else that interests
        me like <a style="display:contents" href="https://wtfhappenedin1971.com/" target="_blank" rel="noopener noreferrer">WTF happened in 1971?!</a> I'll do my best to keep on a schedule as I've tried this before and failed miserably.
    </div>
    <div class="row mt-4">
        Its interesting how when you actually want to get things done you never have any time but I'm commited. However, considering how large the internet is and how short the attention of the average
        human <a style="display:contents" href="https://dl.motamem.org/microsoft-attention-spans-research-report.pdf" target="_blank" rel="noopener noreferrer">(its 8 seconds by the way),</a> one could 
        say starting a blog isn't the best use of your time especially as video is becoming the dominate medium of choice. 
    </div>
    <div class="row mt-4">
        However I truly believe being able to organize what's in your head especially technical topics is just as beneficial for you as it is for your potential audicence.
        Plus we all could use more practice writing complete sentences lol. My only hope is that I can contribute something worthwhile to this crowded space that is the internet.
    </div>
</div>