@page
@model cdv_razor.Pages.crypto_interestModel

@{
    ViewData["Title"] = "Crypto’s killer feature is interest - Catalyst Digital Ventures";
}

@section metatags{
    <meta name="description" property="og:description" content="The future of finance is here. The digital asset industy is enabling a modern way to earn interest." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Crypto’s killer feature is interest" />
    <meta property="og:url" content="https://www.catalystdigitalventures.com/2021/02/03/crypto-interest" />
    <meta property="og:site_name" content="Catalyst Digital Ventures" />
    <meta property="article:publisher" content="https://www.catalystdigitalventures.com/" />
    <meta property="article:published_time" content="2021-02-03T14:00:30+00:00" />
    <meta property="article:modified_time" content="2021-02-03T12:44:29+00:00" />
    <meta property="og:image" content="https://www.catalystdigitalventures.com/img/interest.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />
    <meta name="author" content="Keenan Irvin-Benning">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@@Cataly4tDigital" />
    <meta name="twitter:site" content="@@iCianan" />
}


<div class="container text-justify">
    <h1 class="text-center">Crypto’s killer feature is interest</h1>
    <h4 class="text-center">
        By Keenan Irvin-Benning | February 03 2021 | Reading Time: 5 min
    </h4>
    <div class="row mt-4">
        On March 15, 2020 the Federal Reserve <a style="display:contents" href="https://www.cnbc.com/2020/03/15/federal-reserve-cuts-rates-to-zero-and-launches-massive-700-billion-quantitative-easing-program.html/" target="_blank" rel="noopener noreferrer">announced an emergency interest rate cut to 0%</a> completely changing the investment landscape.
    </div>
    <div class="row mt-4 blogPost">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/O1hCLBTD5RM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        In a land of 0% interest rates, traditional savings accounts, and even the relatively new online high yield savings accounts that Ally Bank popularized, can no longer offer a competitive yield on your money. Combine this with $1200 stimulus checks, PPP loans, lockdowns, and inflation worries from <a style="display:contents" href="https://brrr.money/" target="_blank" rel="noopener noreferrer">money printer go brr</a>
        and 2020 saw record involvement in the stock market.
    </div>
    <div class="row mt-4">
        I’m sure I’m not the only one to notice that everyone is an “expert” at stocks now. But honestly can you blame them? Where else are you supposed to put your money when you can’t even get 0.1% on a 1-year CD?
    </div>
    <div class="row mt-4">
        Side note about <a style="display:contents" href="https://fred.stlouisfed.org/series/M2/" target="_blank" rel="noopener noreferrer">money printing,</a> don't underestimate <a style="display:contents" href="https://www.youtube.com/watch?v=PbDhVyGcXcs/" target="_blank" rel="noopener noreferrer">how silently destructive it can be.</a>
    </div>
    <div class="row mt-4">
        <h2>Enter Bitcoin</h2>
        Anyone who knows me knows me knows not to bring up Bitcoin unless they want me to talk their ear off. Bitcoin is a censorship resistant monetary network that no single individual, corporation, or nation controls. Bitcoin is also a finite digital asset that happens to be the hardest money ever invented even harder than gold.
    </div>
    <div class="row mt-4">
        The supply is fixed at 21 million and  it can be transferred across the globe in less than an hour, any day of the week including weekends and hoildays. It can be divided into 100 million smaller pieces called a satoshi (so no, you don't have to buy a whole Bitcoin) and it can be completely secured in your memory. It truly is one of mankind’s greatest inventions right next to the internet itself. To the point that I'm completely terrified at the thought of the world today if it didn’t exist.
    </div>
    <div class="row mt-4 blogPost">
        But as I praise Bitcoin, I’ve come to realize that the properties of Bitcoin that I cherish the most like self-custody, permissionless access, and its fixed supply aren’t what will bring digital assets to the mainstream. What will is the ability to earn interest.
        The programmable nature of digital assets like Bitcoin and Ethereum allows them the now unique ability to generate a respectable amount of interest on your money. So much so that whole companies are now being built to cater to this specific need.
    </div>
    <div class="row mt-4">
        <h2>The future of finance</h2>
        Companies like <a style="display:contents" href="https://blockfi.com/?ref=5b808fc4/" target="_blank" rel="noopener noreferrer">BlockFi</a> and <a style="display:contents" href="https://celsiusnetwork.app.link/11105363b3/" target="_blank" rel="noopener noreferrer">Celsius Network</a> are offering up to 13% at the time of this writing for certain digital assets including <a style="display:contents" href="https://www.circle.com/en/usdc/" target="_blank" rel="noopener noreferrer">$USDC, a regulated fully backed stablecoin redeemable on a 1:1 basis for US dollars.</a>
        It’s basically a direct representation of US dollars in crypto. I have leveraged both services since March 2020 (timing not a coincidence) and have had no issues thus far.
    </div>
    <div class="row mt-4">
        They operate like any savings account and you can withdraw your funds whenever you please. And while there are risks with everything, the 8.6% BlockFi is offering on your $USDC and the 10.51% Celsius Network is offering more than make up for them.
    </div>
    <div class="row mt-4">
        Yes, you read that right, while Chase Bank offers 0.01% for your cash Celsius Network is offering 10.51% or 1,051x more! And BlockFi just added ACH enabling direct deposit directly from your bank account.
    </div>
    <div class="row mt-4">
        It’s not just Crypto Lending companies offering interest on digital assets even my 2 favorite digital asset exchanges <a style="display:contents" href="https://voyager.onelink.me/WNly/referral?af_sub5=KEE756/" target="_blank" rel="noopener noreferrer">Voyager</a> and <a style="display:contents" href="https://gemini.com/share/jpEU7O" target="_blank" rel="noopener noreferrer">Gemini</a> are offering interest on the digital
        assets you hold in your account. And I haven’t even touched on the possiblities DeFi protocols like <a style="display:contents" href="https://aave.com/" target="_blank" rel="noopener noreferrer">Aave</a>, <a style="display:contents" href="https://compound.finance/" target="_blank" rel="noopener noreferrer">Compound Finance</a>, and
        <a style="display:contents" href="https://synthetix.io/" target="_blank" rel="noopener noreferrer">Synthetix</a> enable. Or how to directly stake digital assets like <a style="display:contents" href="http://cardano.org/" target="_blank" rel="noopener noreferrer">Cardano</a> and <a style="display:contents" href="https://polkadot.network/" target="_blank" rel="noopener noreferrer">Polkadot</a>
        on chain without the need of a 3rd party but that’s for another post.
    </div>
    <div class="row mt-4">
        With the Federal Reserve saying <a style="display:contents" href=" https://apnews.com/article/coronavirus-pandemic-economy-e7f899e70da7574900261063b78d1b7c/" target="_blank" rel="noopener noreferrer">interest rates will stay at zero through at least 2023,</a> crypto will be the only way to generate a consistent low risk yield. And while the stock market will continue to offer opportunities for those willing
        to put in the necessary work, crypto will be the alternative for the lazy majority that are simply tired of their banks offering them pennies on the dollar or in Chase Bank’s case, a penny.
    </div>
    <div class="row mt-4">
        If this article has helped you in anyway feel free to buy me a cup of coffee via Bitcoin bc1qky946nzey95u2qth052kuwshpve4xuj770g9q6.
    </div>
    <div class="row mt-4">
        And if you are ready to take back your power over your money feel free to use my referral links:
        <a style="display:contents" href="https://blockfi.com/?ref=5b808fc4/" target="_blank" rel="noopener noreferrer">BlockFi</a>,
        <a style="display:contents" href="https://celsiusnetwork.app.link/11105363b3/" target="_blank" rel="noopener noreferrer">Celsius Network (Favorite Crypto Interest Account)</a>,
        <a style="display:contents" href="https://voyager.onelink.me/WNly/referral?af_sub5=KEE756/" target="_blank" rel="noopener noreferrer">Voyager</a>, and
        <a style="display:contents" href="https://gemini.com/share/jpEU7O" target="_blank" rel="noopener noreferrer">Gemini (Favorite Exchange)</a>
    </div>
    <div id="hyvor-talk-view"></div>
</div>


@section Scripts{
    <script type="text/javascript">
        var HYVOR_TALK_WEBSITE = 662; // DO NOT CHANGE THIS
        var HYVOR_TALK_CONFIG = {
            url: false,
            id: false
        };
    </script>
    <script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
}
