@page
@model cdv_razor.Pages.crypto_interestModel

@{
  ViewData["Title"] = "Crypto’s killer feature is interest - Catalyst Digital Ventures";
}

@section metatags{
  <meta name="description" property="og:description" content="The future of finance is here. The digital asset industy is enabling a modern way to earn interest." />
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Crypto’s killer feature is interest" />
  <meta property="og:url" content="https://www.catalystdigitalventures.com/2021/02/03/crypto-interest" />
  <meta property="og:site_name" content="Catalyst Digital Ventures" />
  <meta property="article:publisher" content="https://www.catalystdigitalventures.com/" />
  <meta property="article:published_time" content="2021-02-03T14:00:30+00:00" />
  <meta property="article:modified_time" content="2021-02-03T12:44:29+00:00" />
  <meta property="og:image" content="https://www.catalystdigitalventures.com/img/interest.jpg" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="627" />
  <meta name="author" content="Keenan Irvin-Benning">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@@Cataly4tDigital" />
  <meta name="twitter:site" content="@@iCianan" />
}


<div class="container text-justify">
  <h1 class="text-center">Crypto’s killer feature is interest</h1>
  <h4 class="text-center">
    By Keenan Irvin-Benning | Feburary 03 2021 | Reading Time: 5 min
  </h4>
  <div class="row mt-4">
    On March 15, 2020 the Federal Reserve announced an emergency interest rate cut to 0% completely changing the investment landscape.
  </div>
  <div class="row mt-4 blogPost">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Nwj9iVq0g5Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    In a land of zero percent interest rates traditional savings accounts and even the new online based high yield savings accounts no longer could offer an a competitive interest rate. Combine this with $1200 stimulus checks, PPP loans, lockdowns and inflation worries from <a style="display:contents" href="https://brrr.money/" target="_blank" rel="noopener noreferrer">money printer go brr</a>
    and 2020 saw record involvement in the stock market.
  </div>
  <div class="row mt-4">
    I’m sure I’m not the only one to notice that it seems like everyone now is an “expert” at stock picking. But honestly can you blame them? Where else are you supposed to put your money when you can’t even get 0.1% on a 1-year CD?
  </div>
  <div class="row mt-4">
    <h2>Enter Bitcoin</h2>
    Anyone who knows me knows me knows not to bring up Bitcoin unless they want me to talk their ear off. Bitcoin is a censorship resistance monetary network that no single individual, corporation, or nation controls and at the same time a finite digital asset that is the hardest money ever invented.
  </div>
  <div class="row mt-4">
    The supply is fixed at 21 million, it can be transferred across the global in less than an hour, it can be divided into 100 million smaller pieces called a satoshi, and can be completely stored in your head. It truly is one of mankind’s greatest inventions right next to the internet itself and I am completely terrified at the thought of the world today if it didn’t exist.
  </div>
  <div class="row mt-4 blogPost">
    But as I praise Bitcoin, I’ve come to realize that the properties of Bitcoin that I cherish the most like self-custody, permissionless access, and its fixed supply aren’t what will bring digital assets to the mainstream.
    What will bring bitcoin and digital assets mainstream is the simple ability to generate yield. The programmable nature of digital assets like Bitcoin and Ethereum allows them the now unique ability to generate a decent amount of interest. So much so that whole companies are now being built to cater to this specific need.
  </div>
  <div class="row mt-4">
    <h2>The future of finance</h2>
    Companies like <a style="display:contents" href="https://blockfi.com/?ref=5b808fc4/" target="_blank" rel="noopener noreferrer">BlockFi</a> and <a style="display:contents" href="https://celsiusnetwork.app.link/11105363b3/" target="_blank" rel="noopener noreferrer">Celsius Network</a> are offering up to 13% at the time of this writing for certain digital assets including $USDC
    a regulated fully backed stablecoin redeemable on a 1:1 basis for US dollars. It’s basically a direct representation of US dollars in crypto. I have leveraged both services since March 2020, timing not a coincidence, and have had no issues thus far.
  </div>
  <div class="row mt-4">
    They operate like any savings account and you can withdraw your funds whenever you please. And while there are risks with everything, I feel the 8.6% BlockFi is offering on your $USDC and the 10.51% Celsius Network is offering more than make up for them.
  </div>
  <div class="row mt-4">
    Yes, you read that right, while Chase Bank is offering 0.01% for your cash Celsius Network is offering 10.51% or 1,051x more! And BlockFi just added ACH meaning you can now deposit your cash directly from your Bank making transition process even easier.
  </div>
  <div class="row mt-4">
    It’s not just Crypto Lending companies offering interest on digital assets even exchanges <a style="display:contents" href="https://voyager.onelink.me/WNly/referral?af_sub5=KEE756/" target="_blank" rel="noopener noreferrer">Voyager</a> and <a style="display:contents" href="https://gemini.com/share/jpEU7O" target="_blank" rel="noopener noreferrer">Gemini</a> are offering interest on the digital
    assets you hold in your account. And I haven’t even touched on the possibly of directly staking digital assets like Cardano, Polkadot, and Aave on chain without the need of 3rd party companies but that’s for another post.
  </div>
  <div class="row mt-4">
    With the Federal Reserve saying <a style="display:contents" href=" https://apnews.com/article/coronavirus-pandemic-economy-e7f899e70da7574900261063b78d1b7c/" target="_blank" rel="noopener noreferrer">interest rates will stay at zero through at least 2023,</a> crypto will be the only way to generate a consistent low risk yield. And while the stock market will continue to offer opportunities for those willing
    to put in the necessary work, crypto will be the alternative for the lazy majority tired of their banks offering them pennies on the dollar or in Chase’s case a penny.
  </div>
  <div class="row mt-4">
    If this article has helped you in anyway feel free to use my referral links
    <a style="display:contents" href="https://blockfi.com/?ref=5b808fc4/" target="_blank" rel="noopener noreferrer">BlockFi</a>
    <a style="display:contents" href="https://celsiusnetwork.app.link/11105363b3/" target="_blank" rel="noopener noreferrer">Celsius Network</a>
    <a style="display:contents" href="https://voyager.onelink.me/WNly/referral?af_sub5=KEE756/" target="_blank" rel="noopener noreferrer">Voyager</a>
    <a style="display:contents" href="https://gemini.com/share/jpEU7O" target="_blank" rel="noopener noreferrer">Gemini</a>
    to start your journey into regaining power over your money.
    And if you're feeling generous and want to buy me a cup of coffee you can send bitcoin to bc1qky946nzey95u2qth052kuwshpve4xuj770g9q6.
  </div>
  <div id="hyvor-talk-view"></div>
</div>


@section Scripts{
  <script type="text/javascript">
    var HYVOR_TALK_WEBSITE = 662; // DO NOT CHANGE THIS
    var HYVOR_TALK_CONFIG = {
      url: false,
      id: false
    };
  </script>
  <script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
}