@page
@model cdv_razor.Pages._2020._05._14.most_important_softwareModel
@{
    ViewData["Title"] = "The most important piece of software available today";
}

<div class="container-fluid text-justify">
    <h1 class="text-center">The most important piece of software available today</h1>
    <h4 class="text-center">
        By Keenan Irvin-Benning | May 15 2020 | Reading Time: 5 min
    </h4>
    <div class="row mt-4">
        In 2011, Andreessen Horowitz famously said that
        <a style="display:contents" href="https://a16z.com/2011/08/20/why-software-is-eating-the-world/" target="_blank" rel="noopener noreferrer">software is eating the world.</a>
        He correctly predicted that software companies would eat up much of the market as the economy became increasingly dependent on software and online services.
    </div>
    <div class="row mt-4 justify-content-center">
        Since he was mostly focused on startups like Facebook, Twitter, and Groupon I’m sure he never predicted
        that the most important piece of software of the decade would be built by the ancient hated giant that is Microsoft.
        <img class="img-fluid" src="~/img/developers.png" alt="" />
    </div>
    <div class="row mt-4">
        On April 29, 2015 at the <a style="display:contents" href="https://mybuild.microsoft.com/" target="_blank" rel="noopener noreferrer"> 2015 Build conference,</a>
        Microsoft changed the world when it announced <a style="display:contents" href="https://code.visualstudio.com/" target="_blank" rel="noopener noreferrer">Visual Studio Code or VS Code.</a>
        VS Code is a cross platform source code editor that has become one of the most used tools for building software.
        It’s basically a complex text editor with features to help developers build exciting software more easily.
    </div>
    <div class="row mt-4">
        I originally dismissed it as I had been comfortable using Microsoft’s flagship tool Visual Studio and VS Code lacked some important features.
        What I missed was how unimportant those features were to developers that didn’t use Microsoft tools. More importantly, having a company
        with Microsoft’s history and resources to build software that didn’t only work on Windows but also MacOS and Linux really was a big deal.
    </div>
    <div class="row mt-4">
        Oh, did I mention they released it for free? Satya Nadella has completely changed this company.
        <span class="font-weight-bold" style="display:contents">Imagine Microsoft in 1997 releasing anything for free.</span>
        VS Code being cross platform, open source, and backed by Microsoft just as software like AI, blockchain, and javascript frameworks like Angular, React,
        and Vue started to really take off was the perfect catalyst for mass adaption.
    </div>
    <div class="row mt-4">
        But why did it become so popular? In my opinion the biggest benefit to using VS Code are the extensions.
        VS Code was built in a way that allows individual developers to support the platform by writing 3rd party extension to add even more capability than it has out of the box.
        This means any kid in their mom’s basement can make VS Code even better and Microsoft doesn’t have to lift a finger.
        <img class="img-fluid" src="~/img/vscode.png" alt="" />
    </div>
    <div class="row mt-4">
        This means when something new comes out (which in our industry is everyday) we don’t have to wait for Microsoft to support it. We can add support ourselves and if we want,
        share it with the world.
    </div>
    <div class="row mt-4">
        I have yet to come across a programming language VS Code doesn’t support. I've used it to build projects using C#, Python, Golang, PowerShell, YAML, HTML, CSS, and javascript
        with no issue at all. And if software is eating the world and most of it is being written using VS Code then VS Code is the most important software in the industry second only to maybe
        <a style="display:contents" href="https://bitcoin.org/en/" target="_blank" rel="noopener noreferrer">bitcoin.</a>
    </div>
    <div class="row mt-4">
        If you’re a developer reading this, I’m sure you have heard of VS Code before but if you haven’t used it, I highly suggest you give it a
        <a style="display:contents" href="https://code.visualstudio.com/" target="_blank" rel="noopener noreferrer">spin</a>
    </div>
</div>

<div id="hyvor-talk-view"></div>
@section Scripts{
    <script type="text/javascript">
        var HYVOR_TALK_WEBSITE = 662; // DO NOT CHANGE THIS
        var HYVOR_TALK_CONFIG = {
            url: false,
            id: false
        };
    </script>
    <script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
}