@page
@model cdv_razor.Pages.blogModel
@{
    ViewData["Title"] = "blog";
}

<h1>Blog</h1>

<div>
    <table style="width:100%">
        <tr>
            <td>
                <a class="nav-link text-dark" asp-area="" asp-page="/2020/05/14/most_important_software">The most important piece of software available today</a>
            </td>
            <td>05.15.2020</td>
        </tr>
        <tr>
            <td>
                <a class="nav-link text-dark" asp-area="" asp-page="/2020/05/13/hello_internet">Hello</a>
            </td>
            <td>05.13.2020</td>
        </tr>
    </table>
</div>

