@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <article id="cover">
        <div class="jumbotron">
            <h1 class="display-4">Catalyst Digital Ventures</h1>
            <p class="lead">
                is a technology firm focused on providing world class digital
                solutions
            </p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
    </article>
    <article id="services">
        <h2>Services</h2>
        <div class="row" justify="center">
            <div class="col-sm">
                <h3>Digital Solutions</h3>
                <p>
                    CDV excels at Digital Solutions. We help and guide our clients ensuring they make the best decisions to solve their digitial hardships. Our software engineering experience
                    allows us the ability to complete a project from development to deployment specifcially designed and built for you.
                </p>
            </div>
            <div class="col-sm">
                <h3>Agile is key</h3>
                <p>
                    CDV adheres to the Agile framework called Scrum which uses an
                    iterative development cycle concept called Sprints.
                </p>
                <p>
                    The entire software development life cycle (SDLC) takes place over the 2
                    week sprint allowing us the tools to adapt to changes and maximize
                    project success.
                </p>
                <p>
                    The continuous feedback loop fostered with the Agile approach
                    illuminates problems earlier than with other methodologies.
                    Instead of only one long iteration of performing SDLC
                    activities sequentially, an Agile team repeatedly performs these
                    activities in short durations.
                </p>
            </div>
            <div class="col-sm">
                <h3>Freedom</h3>CDV is technology agnostic. We suggest the best technologies that
                will take you into the future and support you for years to come. You will
                never be pushed into pushed into technology because we are
                beholden to it.
            </div>
        </div>
    </article>
    <article id="about">
        <h2>Founder</h2>
        <div class="row" justify="center">
            <v-img src="/zoro.png" max-width="400" />
            <div class="col" cols="12">
                <p>
                    I'm a Full-Stack Software Engineer based in Michigan. Professionally, my exposure to technology started when I was 15 after earning
                    an internship at a local computer repair shop in Detroit, Michigan. While my friends were playing basketball I was learning about
                    hard drive master boot records and building PCs.
                </p>
                <p>
                    Building and repairing computers was all I thought about. Tomshardware.com and anandtech.com quickly became my most visted websites.
                    I soon realized technology was the industry for me so I started freelancing in-home pc repair services mainly dealing with removing
                    viruses and improving performance and got my first taste of entrepreneurship.
                </p>
                <p>
                    Years later I earned my Bachelor’s in Management Information Systems from Grand Valley State University. The program focused on intersection of
                    technology and business with an emphasis on Enterprise Resource Planning software. Eventually I got an internship with GE Aviation then
                    later a job with Infor Inc. where I learned the importance of teamwork, customer service and solving problems quickly.
                </p>
                <p>
                    This is also where I saw firsthand just how important software and cloud computing was becoming. Being a hardware guy, it wasn’t something I accepted
                    immediately but eventually I couldn’t ignore it. In 2016 I became an eternal student of software engineering and haven't looked back since.
                </p>
                <p>
                    In 2019 after reading Grant Cardone's 10X Rule I finally got the courage to start my own consulting company Catalyst Digital Ventures, LLC.
                    Through the tireless effort of so many people I realized I have the tools to help my community migrate into the digital age.

                </p>
                <p>
                    Life has taught me the only thing you regret is you didn't do it sooner.
                </p>
            </div>
        </div>
    </article>
    <article id="portfolio">
        <h2>Portfolio</h2>
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 22rem;">
                    <a href="https://www.michiganwaterpolo.com/"  target="_blank" rel="noopener noreferrer">
                        <div class="card-body">
                            <p class="card-text">Michigan Water Polo Association</p>
                        </div>
                        <img src="~/img/mwpa.png" class="card-img-top" alt="...">
                    </a>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 22rem;">
                    <a href="https://www.ikeenan.io/" target="_blank" rel="noopener noreferrer">
                        <div class="card-body">
                            <p class="card-text">Personal Portfolio</p>
                        </div>
                        <img src="~/img/portfolio.png" class="card-img-top" alt="...">
                    </a>
                </div>
            </div>
        </div>
    </article>
    <article id="contact">
        <h2>Get in Touch!</h2>
        <div class="row">
            <v-img src="/lady-desk.png" max-width="400"></v-img>
        </div>
    </article>
</div>