@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<article id="cover">
    <div class="jumbotron text-center">
        <h1 class="display-4">Catalyst Digital Ventures</h1>
        <p class="lead">
            is a technology firm focused on providing world class digital
            solutions
        </p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="https://mailchi.mp/fcb8dd1bdc08/cdv" role="button" target="_blank" rel="noopener noreferrer">Get in touch</a>
        <hr class="my-4">
        Email is the only reliable way to contact me.
        <p>info@catalystdigitalventures.com</p>
    </div>
</article>
<article id="services">
    <h2 class="text-center">Services</h2>
    <div class="row text-center">
        <div class="col-sm">
            <h3>Digital Solutions</h3>
            <p>
                CDV excels at Digital Solutions. We help and guide our clients ensuring they make the best decisions to solve their digitial hardships. Our software engineering experience
                allows us the ability to complete a project from development to deployment specifcially designed and built for you.
            </p>
            <p>
                CDV is technology agnostic. We suggest the best technologies that
                will take you into the future and support you for years to come. You will
                never be pushed into pushed into technology because we are
                beholden to it.
            </p>
        </div>
        <div class="col-sm">
            <h3>Agile is key</h3>
            <p>
                CDV adheres to the Agile framework called Scrum which uses an
                iterative development cycle concept called Sprints.
            </p>
            <p>
                The entire software development life cycle (SDLC) takes place over the 2
                week sprint allowing us the tools to adapt to changes and maximize
                project success.
            </p>
            <p>
                The continuous feedback loop fostered with the Agile approach
                illuminates problems earlier than with other methodologies.
                Instead of only one long iteration of performing SDLC
                activities sequentially, an Agile team repeatedly performs these
                activities in short durations.
            </p>
        </div>
    </div>
</article>
<article id="about">
    <h2 class="text-center">About</h2>
    <div class="row justify-content-center">
        <img src="~/img/zoro.png" class="img-fluid" style="max-width:400px;" />
    </div>
    <div class="row text-center">
        <div class="col-sm">
            <p>
                I'm a Full-Stack Software Engineer based in Michigan. Professionally, my exposure to technology started when I was 15 after earning
                an internship at a local computer repair shop in Detroit, Michigan. While my friends were playing basketball and video games I was learning about
                AGP graphic cards and BIOS troubleshooting.
            </p>
            <p>
                During those years building and repairing computers was all I thought about.<a href="https://www.tomshardware.com/" target="_blank" rel="noopener noreferrer"> TomsHardware</a>
                and <a href="https://www.anandtech.com/" target="_blank" rel="noopener noreferrer"> AnandTech </a> quickly became my favorite websites. I soon realized technology was the industry for me so I started freelancing
                in-home pc repair services mainly dealing with removing viruses and improving performance and got my first taste of entrepreneurship.
            </p>
        </div>
        <div class="col-sm">
            <p>
                This is also where I saw firsthand just how important software and cloud computing was becoming. Being a hardware guy, it wasn’t something I accepted
                immediately but eventually I couldn’t ignore it. In 2015 I became an eternal student of software engineering and haven't looked back since.
            </p>
            <p>
                In 2019 after reading Grant Cardone's 10X Rule I realized <span class="font-weight-bold" style="display:contents">
                    the only thing you'll regret is you didn't do it sooner.
                </span> So I started Catalyst Digital Ventures, LLC.
                Through the tireless effort of so many people I have gained skills to help my community migrate into the digital age.
            </p>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-sm">
            Years later I earned my Bachelor’s in Management Information Systems from Grand Valley State University. The program focused on intersection of
            technology and business with an emphasis on Enterprise Resource Planning software. While there I got an internship with GE Aviation followed by
            a job with Infor Gloabl Solutions Inc. where I learned the importance of teamwork, customer service and solving problems quickly.
        </div>
    </div>
</article>
<article id="portfolio">
    <h2 class="text-center">Portfolio</h2>

    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="https://www.michiganwaterpolo.com/" target="_blank" rel="noopener noreferrer">
                    <img src="~/img/mwpa.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Michigan Water Polo Association</h5>
                        <p>Nuxt.js Sass Azure </p>

                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="https://www.ikeenan.io/" target="_blank" rel="noopener noreferrer">
                    <img src="~/img/portfolio.png" class="d-block w-100" alt="...">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Personal Portfolio</h5>
                    <p>React CSS Azure</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</article>


